.confTitleBox {
	display: none;
}

.confSubTitleBox {
	display: none;
}

.confheader {
	background: #ff4e00 url(https://conf.linuxappsummit.org/event/4/images/3-2022LAS-indicobanner2.png) no-repeat center center;
	padding-top: 24%;
	background-size: contain;
	margin-bottom: 50px;
	height: 0;
}

@media (max-width:600px){
	#confSectionsBox{
		width:590px
	}
}
@media (min-width:600px){
	#confSectionsBox{
		width:590px
	}
}
@media (min-width:768px){
	#confSectionsBox{
		width:750px
	}
}
@media (min-width:992px){
	#confSectionsBox{
		width:970px
	}
}
@media (min-width:1200px){
	#confSectionsBox{
		width:1170px
	}
}

h1, h2, h3{
	color: #cb6d04;
}

h2{
	font-size: 22px;
}

.conf_leftMenu{
	width:250px
}
.conf_leftMenu ul{
	border-radius:5px
}
.confBodyBox{
	margin-left:280px
}

.menuConfTitle a{
	color: #09c;
	padding:8px 12px
}

.support_box{
	border-radius:5px
}
.support_box>h3{
	background:#dadada;
	color: #09c;
	border-bottom:1px solid #d0d0d0;
	border-top:1px solid #d0d0d0;
	padding:8px 12px;
	cursor:pointer;
	font-size:10pt;
	font-family:verdana,arial,sans-serif;
}
.support_box>ul>li{
	padding:5px 12px 10px 12px;
	margin:0
}
.support_box>ul>li .icon{
	display:inline-block;
	height:16px
}
.support_box>ul>li>a{
	font-size:10pt;
	font-family: verdana,arial,sans-serif;
}


.page-content p, .page-content ul, .page-content li{
	color: #777;
	font-size: 14px;
}
